.card-wrapper {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    > div {
        background-color: white;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
        border: 1pt solid rgba(243, 244, 246);
        max-height: 20rem;
        padding: 2rem;
        display: flex;

        >div {
            text-align: left;
        }

        > .img-wrapper {
            height: 12rem;
            overflow: visible;
            width: 50%;
        }

        > .info-wrapper {
            display: flex;
            flex-direction: column;
            width: 50%;
            margin-right: calc(2rem * 0);
            margin-left: calc(2rem * calc(1 - 0));
        }



        @media screen and (min-width: 640px) {
            border-radius: 1.5rem;
            box-shadow: 1pt solid rgba(243, 244, 246);
        }
    }

    @media screen and (min-width: 640px) {
        max-width: 40rem;
        margin-left: auto;
        margin-right: auto;
    }
}
