@import '_Card.scss';

html {
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue, Arial, Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    line-height: 1.5;
}

h2 {
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.25rem;
}

p {
    overflow-y: hidden;
    color: rgba(156,163,175);
    text-align: left;
}

img {
    border-radius: 1.5rem;
    box-shadow: 1pt solid rgba(243, 244, 246);
    max-width: 100%;
}

.h2-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
}
